@font-face {
    font-family: Gilroy;
    src: url(https://nikitachuzhaykin.github.io/Site-Tocha/fonts/Gilroy-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(https://nikitachuzhaykin.github.io/Site-Tocha/fonts/Gilroy-Extrabold.woff);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(https://nikitachuzhaykin.github.io/Site-Tocha/fonts/Gilroy-Semibold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(https://nikitachuzhaykin.github.io/Site-Tocha/fonts/Gilroy-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(https://nikitachuzhaykin.github.io/Site-Tocha/fonts/Gilroy-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

input {
    outline: none;
}

/*Стандартные стили*/
html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a {
    margin: 0;
    padding: 0;
    color: #000000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

/*header*/
.header {
    background: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
}

.header__inner {
    padding-top: 32px;
    display: flex;
    column-gap: 751px;
    align-items: center;
    padding-bottom: 20px;
}

.header__burger {
    display: none;
}

.header__innerTwo {
    padding-top: 32px;
    display: flex;
    column-gap: 436px;
    align-items: center;
    padding-bottom: 20px;
}

.hbutton__entrance {
    width: 76px;
    height: 40px;
    background-color: #F1E4FF;
    border-radius: 6px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #685ED6;
    cursor: pointer;
    margin-right: 12px;
    transition: .2s;
}

.hbutton__entrance:hover {
    background: #C39BFB;
    transition: .2s;
}

.hbutton__entrance:active {
    background: #685ED6;
    color: #ffffff;
    transition: .2s;
}

.hbutton__signup {
    width: 138px;
    height: 40px;
    background-color: #685ED6;
    border-radius: 6px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
}

.hbutton__signup:hover {
    background: #33AFE1;
    transition: .2s;
}

.hbutton__signup:active {
    background: #18E1F7;
    transition: .2s;
}

.menu__list {
    display: flex;
    column-gap: 63px;
}

.menu__link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1D2530;
    cursor: pointer;
}

.menu__link span {
    color: #685ED6;
}

/*Окна burger*/

.button__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    z-index: 1;
    visibility: hidden;
}

.button__modal.open {
    visibility: visible;
    opacity: 1;
}


.bmodal__window {
    position: relative;
    top: 0;
    left: 0;
    width: 237px;
    height: 286px;
    background: #F8FBFF;
    z-index: 2;
    display: block;
    margin: 0 auto;
    margin-top: 190px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.bmodal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.bmodal__btn {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.bmodal__buttonenter {
    width: 177px;
    height: 40px;
    background-color: #F1E4FF;
    border-radius: 6px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #685ED6;
    cursor: pointer;
    margin-right: 12px;
    transition: .2s;
    margin-bottom: 11px;
}

.bmodal__buttonenter:hover {
    background: #C39BFB;
    transition: .2s;
}

.bmodal__buttonenter:active {
    background: #685ED6;
    color: #ffffff;
    transition: .2s;
}

.bmodal__buttonsign {
    width: 177px;
    height: 40px;
    background-color: #685ED6;
    border-radius: 6px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
}

.bmodal__buttonsign:hover {
    background: #33AFE1;
    transition: .2s;
}

.bmodal__buttonsign:active {
    background: #18E1F7;
    transition: .2s;
}

.bmodal__menu {
    padding-top: 76px;
    padding-left: 30px;
    display: grid;

}

.bmenu__list {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D2530;
    margin-bottom: 24px;
}

.bmenu__list span {
    font-weight: 700;
    color: #685ED6;
}

.bmodal__overline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1;
}


/*regmodal*/
.regmodal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    z-index: 1;
    visibility: hidden;
}

.regmodal.open {
    visibility: visible;
    opacity: 1;
}

.regmodal__window {
    position: relative;
    top: 70px;
    margin: 0 auto;
    width: 480px;
    height: 630px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    z-index: 2;
}

.regmodal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.regmodal__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: #685ED6;
    padding-top: 105px;
    text-align: center;
    padding-bottom: 32px;
}

.regmodal__box {
    margin-bottom: 20px;
    position: relative;
}

.regmodal__input {
    width: 340px;
    height: 40px;
    background: #F7F7FD;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    display: flex;
    color: #212121;
    padding-left: 20px;
    border: 1px solid #ffffff;
}


.regmodal__input[type="tel"],
[type="password"],
[type="text"] {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}

.regmodal__input::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}

.regmodal__input:hover {
    border: 1px solid #E8E6F8;
}

.regmodal__input:focus {
    border: 1px solid #605DEC;
}

.regmodal__pass {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #605DEC;
    display: block;
    margin-right: 70px;
}

.regmodal__submit {
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 48px;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin-top: 32px;
}

.regmodal__submit:hover {
    background: #33AFE1;
    transition: .2s;
}

.regmodal__submit:active {
    background: #18E1F7;
    transition: .2s;
}

.regmodal__overline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1;
}

.inputError .regmodal__input {
    border: 1px solid #F93232;
}

.errorImg {
    position: absolute;
    margin-left: 68px;
    top: 54px;
}

.labelError.cerror {
    display: block;
}

.labelError {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #AAA;
    padding-left: 91px;
    margin-top: 15px;
    display: block;
}



/*main*/
.main {
    background: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
}

.main__background {
    background-image: url("https://nikitachuzhaykin.github.io/Site-Tocha/images/main/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 809px;
}

.main__inner {
    position: relative;
    display: flex;
}

.main__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #685ED6;
    margin-bottom: 24px;
    margin-top: 124px;
}

.main__title span {
    color: #1D2530;
}

.main__subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #1D2530;
    margin-bottom: 32px;
    width: 482px;
}

.main__subtitle span {
    color: #685ED6;
}

.main__plug {
    width: 168px;
    height: 48px;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.main__plug:hover {
    background: #33AFE1;
    transition: .2s;
}

.main__plug:active {
    background: #18E1F7;
    transition: .2s;
}

.main__phone {
    position: absolute;
    right: 0;
    top: 93px;
}

/*info*/
.info {
    background: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
    padding-bottom: 82px;
}

.info__inner {
    display: flex;
    column-gap: 76px;
}

.info__title {
    margin-top: 97px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
    color: #1D2530;
    margin-bottom: 68px;
}

.icard {
    display: flex;
    column-gap: 26px;
    margin-bottom: 24px;
}

.icard__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
}

.icard__subtitle {
    width: 380px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
}

.info__phone {
    margin-top: 70px;
}

/*rates*/
.rates {
    margin-bottom: 100px;
}


.rates__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
    margin-top: 100px;
    margin-bottom: 16px;
}

.rates__subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
    text-align: center;
    margin-bottom: 40px;
}

.rates__card {
    display: flex;
    column-gap: 30px;
}

.rcard {
    background: #FCFEFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    width: 350px;
    height: 387px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out ;
    display: block;
}

.rcard__overtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    color: #685ED6;
    text-align: center;
    background: rgba(104, 94, 214, 0.05);
    width: 350px;
    height: 61px;
    padding-top: 7px;
}

.rcard__title {
    padding-top: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 32px;
}

.rcard__subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 46px;
}

.rcard__button {
    width: 287px;
    height: 48px;
    background: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    border: none;
    cursor: pointer;
    transition: .2s;
    display: block;
    margin: 0 auto;
}

.rcard__button:hover {
    background: #33AFE1;
    transition: .2s;
}

.rcard__button:active {
    background: #18E1F7;
    transition: .2s;
}

/*steps*/

.steps {
    position: relative;
    padding-bottom: 116px;
}

.steps__inner {
    position: relative;
    justify-content: center;
}


.steps__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
    text-align: center;
    margin-bottom: 40px;
}

.steps__card {
    display: flex;
    column-gap: 40px;
}

.scard {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
    
}

.scard__icon {
    margin-bottom: 16px;
    align-items: center;
    margin: 0 auto;
    display: grid;
}

.scard__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
}

.scard__line {
    position: absolute;
    left: 154px;
    top: 109px;
}

.scard.one {
    margin-right: 219px;
}

.scard.two {
    margin-right: 210px;
    margin-top: 69px;
}

.scard__subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
    width: 312px;
}

.scard__phone.one {
    margin-top: 40px;
    margin-left: 30px;
}

.scard__phone.two {
    margin-top: 26px;
    margin-left: 14px;
}

.scard__phone.three {
    margin-top: 40px;
    margin-left: 40px;
}

.sdots {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    border: 2px solid #685ED6;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 24px;
}

.steps__phone {
    display: none;
}

.steps__background {
    background: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
    background-image: url("https://nikitachuzhaykin.github.io/Site-Tocha/images/steps/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 533px;
    position: absolute;
    top: 435px;
    z-index: -1;
}

/*reviews*/
.reviews {
    background: rgba(242, 247, 255, 0.5);
    padding-bottom: 80px;
}

.reviews__inner {
    position: relative;
}

.reviews__marks {
    position: absolute;
    top: 0;
    right: 0;
}

.reviews__title {
    padding-top: 17px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
    text-align: center;
    margin-bottom: 48px;
}

.reviews__card {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 7px;
    padding-bottom: 32px;
    margin: 0 auto;
}

.revcard {
    width: 540px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.revcard__background {
    background-image: url("https://nikitachuzhaykin.github.io/Site-Tocha/images/reviews/revcard__background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 540px;
    height: 232px;
}

.revcard__title {
    padding-top: 32px;
    padding-bottom: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;

}

.revcard__subtitle {
    width: 476px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    margin: 0 auto;
}

.revcard__inner {
    display: flex;
    column-gap: 16px;
    justify-content: center;
}

.revcard__name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
}

.revcard__site {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1D2530;
}

.reviews__dots {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.steps__dots {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.rdots {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    border: 2px solid #685ED6;
    border-radius: 100px;
    cursor: pointer;
}

.dotsActive {
    background: #685ED6;
    border: 1px solid #685ED6;
}

/*connection*/
.connection {
    padding-bottom: 90px;
}

.connection__inner {
    background-image: url("https://nikitachuzhaykin.github.io/Site-Tocha/images/connection/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 288px;
    margin-top: 90px;
    display: flex;
    column-gap: 80px;
    position: relative;
}

.connection__icon {
    margin-left: 86px;
    margin-top: 16px;
}

.connection__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 41px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    width: 445px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.cform__input {
    width: 248px;
    height: 52px;
    background: #F4F5F7;
    border-radius: 5px 0px 0px 5px;
    border: none;
    
}

.cform__input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #474A57;
}

.cform__input[type="email"] {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #474A57;
    padding-left: 16px;
    z-index: 1;
    margin-bottom: -13px;
}

.cform__submit {
    width: 120px;
    height: 48px;
    cursor: pointer;
    background: #18191F;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    position: absolute;
    top: 164px;
    right: 272px;
}

/*footer*/
.footer {
    background-color: #1D2530;
    padding-bottom: 92px;
}

.footer__inner {
    display: flex;
}

.footer__logo {
    margin-top: 111px;
    margin-right: 389px;
}

.footer__list {
    display: flex;
    column-gap: 126px;
    margin-top: 104px;
}

.footer__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #F4F5F7;
}

.footer__menu {
    margin-top: 32px;
}

.fmenu__link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #EEEFF4;
    margin-bottom: 12px;
}

/*law*/
.law {
    background-color: #141B23;
}

.law__text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Дополнительно*/

.sliderCardActive {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.db {
    display: block;
}

.dn {
    display: none;
}
